@include sticky-footer(75px, ".content-fullscreen", "#footer-fullscreen");

footer {
  border-top: 1px solid black;
  text-align: center;
  font-family: $font-family--secondary;
  font-size: 13px;
  //padding: 30px;
  padding-top:2rem;
  padding-bottom:0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  float: left;
  width: 100%;
  color:#4474d1;


  span {
    margin: 0 5px;
    color:black !important;
  }
}
