main {
  width: 100%;
  float: left;
  min-height: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow-y: hidden;

}

.page-template-frontpage {
  margin-top: 0;
}

body.home.page{
      max-height: 3000px !important;
}

.landing {
  min-height: calc(100vh - 84px);
  min-height: -webkit-calc(100vh - 84px);
  min-height: -moz-calc(100vh - 84px);

  position: relative;
  width: 100%;

  @include mq($desktop-width, 'max-width') {
    min-height: calc(100vh - 140px);
    min-height: -webkit-calc(100vh - 140px);
    min-height: -moz-calc(100vh - 140px);
  }
}

.centered {
  position: absolute;
  top: calc(50% - 84px);
  top: -webkit-calc(50% - 84px);
  top: -moz-calc(50% - 84px);
  width: 300px;
  left: 49%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
   	-webkit-transform: translate(-50%, -50%); /* Safari */

  /* bring your own prefixes */

  @include mq($desktop-width, 'max-width') {
    top: calc(50% - 140px);
    top: -webkit-calc(50% - 140px);
    top: -moz-calc(50% - 140px);
  }

  @include mq($tablet-width, 'max-width') {
    width: 250px;
  }
}

.more {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
   	-webkit-transform: translate(-50%, -50%); /* Safari */
  text-align: center;

  a {
    color: #404040;

    &:hover {
      color: #4474d1;

      .arrow-normal {
        background-image: url(img/arrow-down_blue.png);
      }
    }
  }
}

.arrow-normal {
  background-image: url(img/arrow-down.png);
  width: 20px;
  height: 11px;
  margin: auto;
}

.more-text {
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: .09em;
}

.listing {
  padding: 50px 0 100px;
  position: relative;

  .listing-item {
    padding: 20px 0;

    a {
      color: black;

    }
  }

  @include mq($tablet-width, 'max-width') {
    padding: 50px 0 20px;
  }

}

.mobile-sliding {
  @include mq($tablet-width + 1, 'min-width') {
    display: none;
  }
}

.sliding {
  @include mq($tablet-width, 'max-width') {
    display: none;
  }
}

.contacting {
  .contacting-button {
    padding: 15px 20px;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    margin: 55px auto;
    color: black;
    width: 200px;
    transition:all .3s ease-in-out;
    letter-spacing:.09em;

    &:hover{
      background: #e9e9e9;
      color: #999999;
      border: 1px solid #999999;
    }
  }
}

.blue-rectangle {
  position: absolute;
  height:0;
  top: calc(100vh - 200px);
  top: -webkit-calc(100vh - 200px);
  top: -moz-calc(100vh - 200px);

  left: calc(50% - 510px);
  left: -webkit-calc(50% - 510px);
  left: -moz-calc(50% - 510px);

  z-index: -1;
}

.page-content{
  margin-bottom:30px;
}

.text-property {
  text-align: center;
}

.text{
  .container{
    width:90%;
  }
}

.restaurant-address, .restaurant-website {
  display: block;
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin: 0 0 5px;
  font-weight: 500;
}

.restaurant-website{
  margin: 0 10px 20px 0;
}

.property {
  padding-bottom: 75px;

  .content{
    width:95%;
  }

  &:last-of-type {
    padding-bottom: 0px;
  }
}

.press {
  margin: 50px 0;
}

.property-item {
  padding-bottom: 50px;

  &:last-of-type {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

#container .mix{
    display: none;
    margin-bottom: 20px;
    width:100%;
}

.filter {
  cursor: pointer;

  &.active h3{
    color:#4474d1;
  }

  h3{
    &:hover{
      color:#4474d1;
    }
  }
}

.case-study-top {
  text-align: center;
  display: table;
  background-size: cover;
  height: 400px;
  position: relative;
  z-index: 10;
  border:1px solid #ffffff;
  overflow:hidden;
  width: 100%;
  position: relative;

  &:hover {
    background-image: none !important;
    border:1px solid #000000;
  }
}

.cs_image{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  transition:all .2s ease-in-out;

  &:hover{
    opacity:0;
  }
}

.case-study-bottom {
  text-align: center;

  a {
    color: black;

    &:hover {
      color: #4474d1;
    }
  }
}

.case-study-text {
  // border-bottom: 1px solid black;
  display: table-cell;
  vertical-align: middle;

  .case-study-text-inner {
    width: 350px;
    margin: auto;
    padding: 30px 20px;

    p {
      margin-bottom: 0;
    }

    @include mq($desktop-width, "max-width") {
  		width: 50%;
  	}

    @include mq($tablet-width, "max-width") {
  		width: 80%;
  	}

  }

}

.case-study-line {
  text-align: center;
  margin: 0 auto 40px;
  width: 90px;
}

ul.single-results{
  display:none;
  //visibility:hidden;
}

.nav_trigger{
  cursor:pointer;
}

.nav_trigger.hide{
  display:none;
}

.close{
  font-size: 16;
    font-family: "freight-text-pro", Helvetica, Arial, sans-serif;
    text-align:right;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom:10px;
    display:none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "proxima-nova", sans-serif;
    font-weight:600;
    cursor:pointer;
}


@media only screen and (max-width: 768px){
  .results.hide{
    display:none;
    visibility:hidden;
  }
}

@media only screen and (max-width: 1100px){


  .nav_trigger.hide{
    display:block;
    text-align:right;
    position:fixed;
    right: 25px;
    top: 25px;
    z-index: 99999;
  }

  .text{
    .container{
      width:100%;
    }
  }

  .main-navigation{
    display:none !important;
  }

  // ul.single-results{
  //   display:block;
  //   visibility:visible;
  // }

  .sidr .sidr-inner .close{
    display:block;

  }

  main {
    margin-top: 140px;
  }

  .text{
    .container{
      width:100%;
    }
  }


}

.title {
  font-family: $font-family--primary;
  letter-spacing: 0.09em;
}

.inactive {
  pointer-events: none;
}

.footer-content {
  padding: 0 30px;
  margin: auto;
}
