.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 25px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing:.05em;
	font-family: $font-family--secondary;
	font-weight:400;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		&.sub-menu {
			margin: 10px 20px;
			width: 150px;
			height: 100px;
		}


		ul {
			// box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			// position: absolute;
			 display:none;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
				width: 160px;
				left: auto;
				padding-top: 8px;
			}

			li {

				display:inline;
				text-align: left;
				text-transform: capitalize;
				width: 160px;
				position: relative;



				a{
					width:auto;
					padding: 3px;
					display:block;
			    line-height: 16px;
				}
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}


			a {
				width: 200px;
				font-weight:400;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}


	}



	li:nth-child(2) ul{
		margin-left: 19px;
	}
	li:nth-child(3) ul{
		margin-left: 46px;
	}
	li:nth-child(4) ul{
		margin-left: 19px;
	}

	li {
		display: inline-block;
		position: relative;
		padding:  0px;
		width: 140px;

		&.current-menu-item > a{


		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: black;
		font-weight: 400;
		letter-spacing: 0.05em;

		&:hover{
			color:#4474d1;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: #4474d1;
	}

	.current-menu-item {
		ul {
			li.current-menu-item {
				a {
					color: black;
				}
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.sidr{
	background:#e4e4e4;


	.sub-menu{
		display:none;

		li {
			a {
				font-size: 18px;
				line-height: 40px;
				text-transform: capitalize;
				font-weight: 500;
			}
		}
	}

	ul{
		margin-top:20px;
		margin-left:20px;

		li{
			a{
				color:black;
				text-transform: uppercase;
		    font-size: 22px;
		    line-height: 50px;
		    font-family: "proxima-nova", sans-serif;
		    font-weight: 500;
		    letter-spacing: 0.05em;

			    &:hover,
			    &:focus,
			    &:active{
			    	color:#4474d1;
			    	opacity:1;
			    }
			}
		}

		ul{
			margin-left:0;
			margin-top:0;
			margin-bottom: 15px;
		}
	}
}
